# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtualenvs
.venv/
venv/
ENV/
env/
env.bak/
pythonenv*

# Byte-compiled / optimized / DLL files
*.dll
*.dylib
*.exe
*.pyd

# =====================================
# Django
# =====================================
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
debug.log

# Media y archivos de usuario
/media/
/uploads/
/temp/
/tmp/
/*.bak

# Archivos de migración (opcional, si no quieres versionarlas)
**/migrations/*.py
!**/migrations/__init__.py

# =====================================
# Docker
# =====================================
.docker/
.dockerignore
docker-compose.override.yml
.env
.env.local
.env.*.local
docker-compose.yml

# =====================================
# Node / Frontend
# =====================================
node_modules/
dist/
build/
.npm/
.yarn/
.pnp.*
package-lock.json
yarn.lock

# =====================================
# IDEs y herramientas
# =====================================
.vscode/
.idea/
*.iml

# =====================================
# Sistema
# =====================================
.DS_Store
Thumbs.db
desktop.ini

# =====================================
# Coverage / Testing
# =====================================
.coverage
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
htmlcov/

# =====================================
# Otros
# =====================================
*.swp
*.swo
*.orig
