{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
{% endblock %}

{% block content %}
<body class="index-container">

  <div class="index-header">
    <h1>Módulo Kactivo</h1>
    <p>Selecciona una opción para continuar</p>
  </div>

  <!-- CULTURA -->
  <div class="container mb-5">
    <h3 class="text-center titulo-amarillo mb-4">Área de Cultura</h3>
    <div class="row justify-content-center g-4">
      <div class="col-6 col-sm-4 col-md-3 text-center">
        <a href="#" class="text-decoration-none">
          <div class="bg-light p-3 rounded-4 shadow text-center">
            <img src="{% static 'images/consulta_cultura.png' %}" alt="Consulta Cultura" class="img-modulo">
            <span class="fw-semibold text-dark small d-block mt-2">Consulta Participantes</span>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 text-center">
        <a href="#" class="text-decoration-none">
          <div class="bg-light p-3 rounded-4 shadow text-center">
            <img src="{% static 'images/dashboard_cultura.png' %}" alt="Dashboard Cultura" class="img-modulo">
            <span class="fw-semibold text-dark small d-block mt-2">Dashboard Cultura</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- DEPORTE -->
  <div class="container">
    <h3 class="text-center titulo-amarillo mb-4">Área de Deporte</h3>
    <div class="row justify-content-center g-4">
      <div class="col-6 col-sm-4 col-md-3 text-center">
        <a href="#" class="text-decoration-none">
          <div class="bg-light p-3 rounded-4 shadow text-center">
            <img src="{% static 'images/consulta_deporte.png' %}" alt="Consulta Deporte" class="img-modulo">
            <span class="fw-semibold text-dark small d-block mt-2">Consulta Participantes</span>
          </div>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 text-center">
        <a href="#" class="text-decoration-none">
          <div class="bg-light p-3 rounded-4 shadow text-center">
            <img src="{% static 'images/dashboard_deporte.png' %}" alt="Dashboard Deporte" class="img-modulo">
            <span class="fw-semibold text-dark small d-block mt-2">Dashboard Deporte</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="index-footer mt-5">
    <p>© Kennedy Conecta - Módulo Kactivo</p>
  </div>

{% endblock %}
