// _componentes.scss

.label-destacado {
  font-weight: bold;
  color: $color-primario;
}

.form-group-kactivo {
  margin-bottom: 1.5rem;
}


.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 3rem auto;
}

.form-title {
  color: #c2002f;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: #c2002f;
  border-color: #c2002f;
  &:hover {
    background-color: darken(#c2002f, 10%);
    border-color: darken(#c2002f, 10%);
  }
}
