{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center my-5">
  <h1 class="mb-4"><span aria-hidden="true">🎯</span> Menú de Caracterización</h1>

  <div class="row justify-content-center">
    
    <!-- Crear evento -->
    <div class="col-md-4 mb-3">
      <a href="{% url 'login:evento' %}" class="text-decoration-none">
        <div class="bg-light p-3 rounded-4 shadow text-center border">
          <img src="{% static 'images/crear_evento.png' %}" 
               alt="Crear evento"
               class="img-fluid mb-2" 
               style="max-width:110px;">
          <h5 class="fw-semibold text-dark mt-2">🗓️ Crear Datos del Evento</h5>
        </div>
      </a>
    </div>

    <!-- Formulario personas -->
    <div class="col-md-4 mb-3">
      <a href="{% url 'login:formulario' %}" class="text-decoration-none">
        <div class="bg-light p-3 rounded-4 shadow text-center border">
          <img src="{% static 'images/formulario_personas.png' %}" 
               alt="Formulario de personas"
               class="img-fluid mb-2"
               style="max-width:110px;">
          <h5 class="fw-semibold text-dark mt-2">👤 Formulario de Personas</h5>
        </div>
      </a>
    </div>

    <!-- Listado personas asistentes -->
    <div class="col-md-4 mb-3">
      <a href="{% url 'login:listado' %}" class="text-decoration-none">
        <div class="bg-light p-3 rounded-4 shadow text-center border">
          <img src="{% static 'images/listado_asistentes.png' %}" 
               alt="Listado de personas asistentes"
               class="img-fluid mb-2"
               style="max-width:110px;">
          <h5 class="fw-semibold text-dark mt-2"><span aria-hidden="true">📋</span> Listado de Personas Asistentes</h5>
        </div>
      </a>
    </div>

  </div>

  <!-- Segunda fila -->
  <div class="row justify-content-center mt-3">

   <!-- BOTÓN: Mapa Georreferenciado -->
<div class="col-md-4 mb-3">
  <a href="/geo/mapa-kennedy/" class="text-decoration-none">
    <div class="bg-light p-3 rounded-4 shadow text-center">
      <img src="{% static 'images/mapa_georreferenciado.png' %}" 
           alt="Mapa Georreferenciado" 
           class="img-modulo" 
           style="width: 110px;">
      <span class="fw-semibold text-dark small d-block mt-2">📍 Mapa Georreferenciado</span>
    </div>
  </a>
</div>

<!-- BOTÓN: Cursos -->
<div class="col-md-4 mb-3">
  <a href="/kactivo/cursos/" class="text-decoration-none">
    <div class="bg-light p-3 rounded-4 shadow text-center">
      <img src="{% static 'images/cursos.png' %}" 
           alt="Cursos" 
           class="img-modulo"
           style="width: 110px;">
      <span class="fw-semibold text-dark small d-block mt-2">📘 Cursos</span>
    </div>
  </a>
</div>

   

  </div>

</div>
{% endblock %}

